# Backend (Node.js)
backend/node_modules/
backend/.env
backend/dist/
backend/package-lock.json

# Mobile (Flutter)
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/coverage/
mobile/.idea/
mobile/*.iml
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/ios/Flutter/.last_build_id
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/captures/
mobile/android/gradlew
mobile/android/gradlew.bat
mobile/android/gradle/wrapper/gradle-wrapper.jar
mobile/pubspec.lock

# General
*.log
.DS_Store
.vscode/
.idea/